

<h2>Add Post</h2>

<form method="post" action="/Home/Add">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title" name="title" value="MongoDB Rulz!">
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" id="content" name="content" rows="6">
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the. It has survived not only five centuries, but also the leap into electronic typesetting, Lorem ipsum.
</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>